body {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1,25rem;
    text-align: center;
    scroll-behavior: smooth;
}

h1 {
    color: green;
}

h2 {
    margin: 0.4em 0.5em auto;
}

#people-list {
    margin: auto;
    width: 50%;
}

#links {
    text-align: left;
    padding-left: 100px;
}

.person-img {
    width: 100%;
    height: 9em;
}

.round-corners {
    border-radius: 1rem 1rem 1rem 1rem;    
    padding: 0.5em 0.5em;    
}

/*
.person-2 {
    width: 100%;
}

.person-3 {
    width: 100%;
}
*/
.no-padding {
    padding: 0rem;
}