body {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1, 25rem;
    text-align: center;
    scroll-behavior: smooth;
}

h1 {
    color: green;
}

h2 {
    margin: 0.4em 0.5em auto;
}

#people-list {
    margin: auto;
    width: 50%;
}

#links {
    text-align: left;
    padding-left: 100px;
}

.person-img {
    margin: auto;
    max-height: 10rem;
    width: auto;    
}

.alt-img {
    border-radius: 1rem 1rem 1rem 1rem;
    max-height: 19rem;
    width: auto;
    margin: 1.5em auto;

}

/*
.person-2 {
    width: 100%;
}

.person-3 {
    width: 100%;
}
*/
.no-padding {
    display: block;
    padding: 0rem;
    min-width: 10rem;
}