.main {
    width: 5.4cm;
    height: 5.4cm;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: gray;
}

#mainBackgroundImage {
    object-fit: cover;
    width: 5.4cm;
    height: 5.4cm;
    opacity: 0.4;
}

#border {
    width: 5.4cm;
    height: 5.4cm;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 0.4cm;
    border-color: black;
    border-style: solid;
}

#time {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.45cm;
    position: absolute;
    color: white;
    width: 5.4cm;
    height: 0.2cm;
    top: 0.1cm;
    text-align: center;
}

#date {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.2cm;
    position: absolute;
    color: white;
    width: 5.4cm;
    height: 0.3cm;
    top: 0.6cm;
    text-align: center;
}

#BatteryIcon {
    width: 0.5cm;
    height: auto;
    position: absolute;
    top: 0.25cm;
    right: 0.3cm;
}

#batteryLevel {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.01cm;
    position: absolute;
    font-size: 0.2cm;
    color: white;
    top: 0.38cm;
    right: 0.9cm;
}

.option-img {
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: 2cm;
    left: 1.7cm;
    height: 2cm;
}
