.main {
    width: 5.4cm;
    height: 5.4cm;
    margin: 0em 0em;
    margin: auto;
    border-radius: 6%;
    background-color: gray;
}

#mainBackgroundImage {
    object-fit: cover;
    width: 5.4cm;
    height: 5.4cm;
    border-radius: 6%;
    opacity: 0.4;
}

#border {
    width: 5.4cm;
    height: 5.4cm;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 0.25cm;
    border-radius: 10%;
    border-color: black;
    border-style: solid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 20% auto 20%;
}

#icons {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 3em;
}

#time {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.45cm;
    position: absolute;
    color: white;
    width: 5.4cm;
    height: 0.2cm;
    top: 0.1cm;
    text-align: center;
}

#date {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.2cm;
    position: absolute;
    color: white;
    width: 5.4cm;
    height: 0.3cm;
    top: 0.6cm;
    text-align: center;
}

#BatteryIcon {
    width: 0.5cm;
    height: auto;
    position: absolute;
    top: 0.25cm;
    right: 0.3cm;
}

#batteryLevel {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.01cm;
    position: absolute;
    font-size: 0.2cm;
    color: white;
    top: 0.38cm;
    right: 0.9cm;
}

.option-img {
    background-color: orange;
    border-radius: 30%;
    position: absolute;
    left: 1.5cm;
    top: 1.5cm;
    margin: auto;
    height: 2.6cm;
}

#top {
    z-index: 1;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    height: 15%;
}

#bottom {
    z-index: 1;
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    height: 15%;
}

#language {
    position: absolute;
    top: 5%;
    left: 25%;
    width: 50%;
    height: 90%;
}

#back {
    display: inline-block;
    width: 50px;
    height: 30px;
    color: yellow;
    text-align: left;
}