@font-face {
  font-family: "Source Sans Pro";
  src: url("assets/HelveticaNeue-Medium.otf");
}

body {
  font-family: 'Source Sans Pro', Arial, Courier, monospace;
  padding: 0em;
  background-color: gray;
}

hr {
  display: block;
  margin: 0em 0em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.main-container {
  width: 5.65cm;
  height: 5.65cm;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background-color: gray;*/
  background-image: url("images/city.jpg");
  background-size: 100% 100%;
  /*background-blend-mode: soft-light;*/
}

.ninja-wrapper {
  width: 100%;
  height: 100%;
  padding: 0em;
  margin: 0em;
}

.clock-border {
  position: fixed;
  border: 0.18cm;
  border-radius: 10%;
  border-color: black;
  border-style: solid;
}

#time {
  font-size: 0.45cm;
  color: white;
  text-align: center;
  display: block;
}

#date {
  font-size: 0.3cm;
  color: white;
  text-align: center;
  transform: translateY(1.7em);
}

#BatteryIcon {
  width: 0.5cm;
  height: auto;
  margin: auto;
  grid-area: top-right;
  margin: 0;
  position: absolute;
  top: 0.23cm;
  left: 0.6cm;
}

#batteryLevel {
  font-size: 0.25cm;
  color: white;
  height: auto;
  margin: auto;
  padding-left: 0.2em;
}

#rotating-screen {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
}

.option-main {
  border-radius: 16% !important;
  width: 2.6cm !important;
  align-self: center;
}

.option {
  border-radius: 50%;
  width: 1.5cm;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.22, 0.45, 0.24, 0.92);
}

.option:hover {
  cursor: pointer !important;
}

.option-out {
  position: absolute;
  top: 1.8cm;
  left: -0.8cm;
}

.option-top {
  position: absolute;
  top: -0.5cm;
  left: 2cm;
}

.option-bottom {
  position: absolute;
  top: 4.3cm;
  left: 2cm;
}

.option-center {
  position: absolute;
  top: 1.4cm;
  left: 3.85cm;
  width: 2.6cm !important;
  border-radius: 16% !important;
}

#option-2 {
  background-color: #e9a154;
}

#option-1 {
  background-color: #92df9e;
}

#description {
  position: absolute;
  top: 3.95cm;
  left: 3.85cm;
  width: 2.6cm;
  text-align: center;
  vertical-align: middle;
  border-radius: 10%/90%;
  /*background: rgba(255, 255, 255, 0.555);*/
  font-size: 0.3cm;
  color: #fff;
  font-weight: bold;
  display: inline-block;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
  animation: shake 0.72s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

span {
  display: inline-block;
  vertical-align: middle;
}

#language1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  height: auto;
  padding: 0;
  transform: translateY(0.2cm);
}

#language2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
  height: auto;
  padding: 0;
  transform: translateY(-0.2cm);
}

.back-button {
  position: absolute;
  background-image: url("images/arrow-icon.png");
  background-color: rgba(255, 255, 255, 0.4);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: translate(0.3em, 0.2em);
  width: 0.9cm;
  height: 0.87cm;
  border-radius: 30%;
  margin: 0em 0em;
  padding: 0em 0em;
  z-index: 10;
}

.back-button:hover {
  background-blend-mode: lighten;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 18% 6% auto 6% 18%;
  grid-template-rows: 18% 6% auto 6% 18%;
  grid-template-areas: "top-left top-left header top-right top-right""top-left top-left . top-right top-right""left-main left-center main right-center-main right-main"". . . . ."". footer footer footer .";
  overflow: hidden;
  /*-o-transition: all 2s;
  -moz-transition: all 2s;
  -webkit-transition: all 2s;*/
  transition: all 2s;
}

.anim1 {
  transform: translate(2.7cm, 2.7cm);
}

.anim2 {
  transform: translate(0cm, 5.4cm);
}

.anim3 {
  transform: translate(-2.7cm, -2.7cm);
}

.anim4 {
  transform: translate(2.7cm, -2.7cm);
}

.grid-center {
  grid-area: main;
}

.grid-top {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.grid-top-right {
  grid-area: top-right;
}

.grid-top-center-right {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.grid-top-left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.grid-top-center-left {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.grid-footer {
  grid-area: footer;
}

.translation-type {
  /*display: none;*/
  width: 1.7cm;
  height: 1.7cm;
  display: inline-block;
}

.language-button {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
  background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
  background-color: #ffffff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.language-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
  background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
  background-color: #f6f6f6;
}

.language-button:active {
  position: relative;
  top: 1px;
}

#translater-by-voice {
  display: none;
}

#translater-by-text {
  display: none;
}

#camera-translate {
  background-image: url("images/camera2.png");
  background-size: 100% 100%;
  grid-area: main;
  transform: translate(-1cm, 0.5cm);
  border-radius: 20%;
}

#voice-translate {
  background-image: url("images/microphone.png");
  background-size: 100% 100%;
  grid-area: main;
  transform: translate(2cm, 0.5cm);
  border-radius: 20%;
}

.selected-filter {
  border: solid red 3px;
  /*animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;*/
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 2px 0px rgba(255, 0, 0, .8);
  }

  65% {
    box-shadow: 0px 0px 3px 8px rgba(255, 0, 0, .3);
  }

  90% {
    box-shadow: 0px 0px 3px 8px rgba(255, 0, 0, 0);
  }
}

#microphone-button {
  position: absolute;
  top: 1.6cm;
  left: 1.6cm;
  width: 2.1cm;
  height: 2.1cm;
  padding: 0em;
  border-radius: 50%;
  margin: auto;
  border: solid 0.15cm grey;
}

.language-description {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  font-weight: bold;
  height: 115%;
  overflow: visible;
  z-index: 9;
}

.language-text {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: -1;
  grid-row-end: -2;
  color: white;
  height: 115%;
  line-height: 100%;
}

#translated-text {
  font-style: normal;
}

.background-light {
  background-color: rgba(255, 255, 255, .5);
  text-align: center;
}

.vertical-align {
  position: relative;
  top: 0cm;
  width: 3cm;
  margin: 0 0 auto;
  line-height: 120%;
}

#speaking-container {
  position: absolute;
  top: 0.2cm;
  left: 4.3cm;
  width: 0.8cm;
  height: 0.8cm;
  padding: 0em 0em;
}

#speaking {
  display: none;
  margin: 0em 0em;
  width: 100%;
  height: 100%;
}

.modal,
.modal-backdrop {
  position: absolute !important;
  overflow: hidden;
}

.modal-content {
  border-radius: 3% !important;
  width: 3.8cm;
  margin: auto;
}

.Rec {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-color: rgba(224, 44, 44, 0.9) !important;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 5px 0px rgba(255, 0, 0, .8);
  }

  65% {
    box-shadow: 0px 0px 5px 13px rgba(255, 0, 0, .3);
  }

  90% {
    box-shadow: 0px 0px 5px 13px rgba(255, 0, 0, 0);
  }
}

.language-list {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 4cm !important;
  max-height: 4cm !important;
  list-style-type: none;
  margin: 0em 0em auto;
  border-radius: 3% !important;
}

.camera-simulation {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6;
  width: 100%;
  height: 100%;
}

.camera-border {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6;
  width: 90%;
  height: 90%;
  margin: auto;
}

/* width */

::-webkit-scrollbar {
  width: 0.1cm;
  max-height: 2cm;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  height: 90%;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgb(121, 120, 120);
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #383838;
}

ul {
  list-style-type: none;
  padding: 0;
  background: #fff;
}

li {
  display: block;
  padding: 9px 10px 5px 10px;
  border-bottom: 1px solid #E7E7E7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #000;
}

li:hover,
li:active {
  cursor: pointer;
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1fb8f5af), color-stop(100%rgba(21, 102, 224, 0.685)e6));*/
  background: -webkit-linear-gradient(top, #008fee86 0%, #44a7f8b6 100%);
  /*background: linear-gradient(top, #1fb8f5af 0%, #015de6b6 100%);*/
  color: #fff;
}

li:after {
  float: right;
  font-weight: bold;
  color: #808080;
  font-size: 10px;
  text-shadow: 1px 0 1px #808080;
}

li:hover:after,
li:hover:after {
  color: #fff;
  text-shadow: 1px 0 1px #fff;
}

button:focus {
  outline: 0;
}

#arrows {
  position: absolute;
  top: 1.59cm;
  left: 2.2cm;
  width: 0.9cm;
  height: 2.1cm;
}

#close-button {
  width: 1cm;
  height: 1cm;
  position: absolute;
  top: -0.5cm;
  left: 3cm;
  border-radius: 30%;
}

#close-button:hover {
  cursor: pointer;
}

#language-table {
  overflow: hidden;
}

/* TICKETS */

.ticket-container {
  width: 5.65cm;
  height: 5.65cm;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: 100% 100%;
  background-color: rgb(230, 230, 230);
  /*background-image: url("images/city.jpg");*/
  overflow: auto;
}

.ticket-container::-webkit-scrollbar {
  display: none;
}

.option-button {
  position: absolute;
  background-image: url("images/option.png");
  background-color: rgba(255, 255, 255, 0.4);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 0.2em;
  margin-left: 0.5em;
  width: 0.9cm;
  height: 0.87cm;
  border-radius: 20%;
  z-index: 11;
}

.option-button:hover {
  background-blend-mode: lighten;
  cursor: pointer;
}

.small {
  margin-left: 0.2em;
  width: 2.2em !important;
  height: 2.2em !important;
}

.add-button {
  position: absolute;
  background-image: url("images/add.png");
  background-color: rgba(255, 255, 255, 0.4);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 0cm;
  height: 0.87cm;
  border-radius: 20%;
  z-index: 9;
  margin-left: 45px;
  transition: 0.2s;
}

.add-button:hover {
  background-blend-mode: lighten;
  cursor: pointer;
}

.filter-button {
  position: absolute;
  background-image: url("images/filter.png");
  background-color: rgba(255, 255, 255, 0.4);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 0cm;
  height: 0.87cm;
  border-radius: 20%;
  z-index: 9;
  margin-left: 5px;
  transition: 0.2s;
}

.filter-button:hover {
  background-blend-mode: lighten;
  cursor: pointer;
}

.polaroid {
  width: 90%;
  margin: 12px auto 10px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*border: solid white 0.12em;
  border-radius: 4% 4% 4% 4% / 5%;
  overflow: hidden;*/
}

table {
  width: 100%;
}

.polaroid-image {
  width: 100%;
}

.polaroid-image:hover {
  cursor: pointer;
}

.ticket-name {
  width: 80%;
  font-size: 13px;
  padding-left: 10px;
}

.button-ticket-information {
  width: 20%;
}

.ticket-information-image {
  width: 30px;
  height: 27px;
  margin-left: 10px;
}

.ticket-information-image:hover {
  opacity: 0.55;
  cursor: pointer;
}

.option-menu {
  position: absolute;
  transition: 0.5s;
  width: 0;
  height: 0.87cm;
  z-index: 9;
  right: 15px;
  margin-top: 0.2em;
  margin-left: 0.5em;
}

#tickets-scan {
  display: none;
}

.ticket-table {
  background-color: white;
  overflow: hidden;
}

/* EXTRA CSS FOR FIlTER MODAL */

#filter-modal {
  overflow: hidden;
}

.filter-table {
  width: 4.2cm;
  height: 4.2cm;
  text-align: center;
}

.filter-icon {
  width: 1cm;
  height: 1cm;
  border-radius: 10%;
}

.filter-icon:hover {
  cursor: pointer;
  opacity: 0.55;
}

.filter-all {
  width: 1cm;
  height: 1cm;
  border-radius: 10%;
  font-style: bold;
}

.filter-modal-content {
  width: 4.2cm !important;
  height: 4.2cm !important;
}

.filter-close-button {
  width: 1cm;
  height: 1cm;
  position: absolute;
  top: -0.6cm;
  left: 3.5cm;
  border-radius: 30%;
}

.filter-close-button:hover {
  cursor: pointer;
}

/* EXTRA CSS FOR TICKET INFO MODAL */

#ticket-info-modal {
  overflow: hidden;
}

.ticket-info-table {
  width: 4.15cm;
  height: 1.2cm;
  /*border-bottom: solid grey;
  border-width: thin;*/
}

.favorite-icon-cell {
  text-align: center;
  width: 30%;
}

.favorite-icon {
  width: 1cm;
  height: 1cm;
}

.header-cell {
  width: 70%;
  text-align: center;
}

.info-text {
  padding-left: 5px;
  margin-bottom: 2px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  font-size: 12px;
}

#found-ticket {
  display: none;
  margin: auto;
  position: absolute;
  top: 1.28cm;
  left: 1.2cm;
  width: 3cm;
  height: auto;
}

.remove-ticket {
  color: red;
  width: 4.16cm;
  margin-left: -5px;
  margin-top: 5px;
  text-align: center;
  line-height: 0.68cm;
  border-radius: 5% / 20%;
  transition: 0.2s;
  /*border: solid red 1px;*/
}

.remove-ticket:hover {
  cursor: pointer;
  /*background-color: #E7E7E7;*/
}

.remove-ticket.stick-to-bottom {
  position: absolute !important;
  top: 3.21cm !important;
  left: 0.1cm !important;
}

.remove-button {
  cursor: pointer;
  /*  width: 100%;*/
}

#try-remove {
  width: 100%;
}

#try-remove:hover {
  box-shadow: inset 0px 0px 16px 16px rgba(112, 112, 112, 0.27);
}

#confirmation-box {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "left right";
  margin: 0cm 0cm;
  padding: 0cm 0cm;
}

#confirmation-box.span {
  border: solid green 1px;
}

#confirmation-container {
  height: 100%;
  width: 100% !important;
  display: none;
}

#no-remove {
  grid-area: right;
}

#no-remove:hover {
  box-shadow: inset 0px 0px 16px 16px rgba(83, 83, 83, 0.21);
}

#yes-remove {
  grid-area: left;
  background-color: red;
  color: white;
  /*  border-radius: 9%/12%;*/
}

#yes-remove:hover {
  box-shadow: inset 0px 0px 16px 16px rgba(255, 255, 255, 0.31);
}

.warn-text {
  width: 100%;
  text-align: center;
}

.qr-code-image {
  width: 2.8cm;
  height: 2.8cm;
  margin: auto;
}

.warn-text {
  width: 100%;
  font-size: 0.3cm;
  text-align: center;
  padding-bottom: 0.5em;
}

#qr-code-modal {
  overflow: hidden;
}

#no-tickets {
  height: 5.4cm;
  width: 80%;
  text-align: center;
  margin: auto;
  padding-top: 41%;
}

/* The Modal (background) */
.jmodal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.jmodal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.jclose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.jclose:hover,
.jclose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.grow {
  animation-name: grow-icon;
  animation-duration: .5s;
}

/* Standard syntax */
@keyframes grow-icon {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.8);
  }
}

.not-sure {
  display: block;
}

.pretty-sure {
  display: none !important;
}

/* MAP */

.zoom {
  background-color: #DDD;
  height: 100%;
  margin: auto;
  overflow: hidden;
  width: 100%;
}

#container .zoom .media {
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.media {
  width: 5.4cm;
  height: 5.4cm;
}

.transition {
  transition: -moz-transform ease 200ms;
  transition: -ms-transform ease 200ms;
  transition: -o-transform ease 200ms;
  transition: -webkit-transform ease 200ms;
  transition: transform ease 200ms;
}

.map-container {
  width: 5.65cm;
  height: 5.65cm;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.map-filter-button {
  position: absolute;
  background-image: url("images/filter.png");
  background-color: rgba(255, 255, 255, 0.4);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 0.9cm;
  height: 0.87cm;
  border-radius: 20%;
  z-index: 10;
  margin-top: 0.2em;
  margin-left: 0.5em;
}

.map-filter-button:hover {
  background-blend-mode: lighten;
  cursor: pointer;
}

